@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap&subset=korean');

@media all and (min-width:1200px) {
    body {
        font-size:18px;
    }

    .nav-logo {
        height:100%;
        width:100%;
    }

    .nav-textsize {
        font-size: 16px;
    }

    .map {
        width:70%;
        height:700px;
        margin:0 auto;
    }

    .content-area {
        margin:0 20% 0 20%
    }
}

@media all and (max-width:1199px) and (min-width:991px) {
    body {
        font-size:16px;
    }

    .nav-logo {
        height:100%;
        width:100%;
    }

    .nav-textsize {
        font-size: 16px;
    }

    .map {
        width:80%;
        height:500px;
        margin:0 auto;
    }

    .content-area {
        margin:0 10% 0 10%
    }
}

@media all and (max-width:990px) and (min-width:600px) {
    body {
        font-size:16px;
    }

    .nav-logo {
        height:250%;
        width:250%;
    }

    .nav-textsize {
        font-size: 30px;
    }

    .map {
        width:80%;
        height:500px;
        margin:0 auto;
    }

    .content-area {
        margin:0 10% 0 10%
    }
}

@media all and (max-width:599px) and (min-width:320px) {
    body {
        font-size:12px;
    }

    .nav-logo {
        height:250%;
        width:250%;
    }

    .nav-textsize {
        font-size: 30px;
    }

    .map {
        width:90%;
        height:400px;
        margin:0 auto;
    }

    .content-area {
        margin:0 5% 0 5%
    }
}

.noto-sans-kr {
    font-family: 'Noto Sans KR', sans-serif;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display:block;
}